html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
blockquote {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

.hidden {
  visibility: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  color: hsl(243, 87%, 12%);
  line-height: 1.3125rem;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 64.0625rem) {
  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
}

h1 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}
@media (min-width: 80.0625rem) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

h2 {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (min-width: 64.0625rem) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media (min-width: 64.0625rem) {
  h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

nav,
input {
  font-family: "Raleway", sans-serif;
}

.features,
.access,
.footer {
  padding: 5.625rem 0;
}

.header__section,
.hero__section,
.features__section,
.access__section,
.footer__section {
  max-width: 100%;
  margin-inline: auto;
  padding: 0 1.75rem;
}
@media (min-width: 80.0625rem) {
  .header__section,
  .hero__section,
  .features__section,
  .access__section,
  .footer__section {
    max-width: 90rem;
    padding: 0 5rem;
  }
}

@media (min-width: 30.0625rem) {
  .hero__section__image, .hero__section__content,
  .features__section__image,
  .features__section__content,
  .access__section__image,
  .access__section__content {
    max-width: 33.125rem;
    margin-inline: auto;
  }
}
@media (min-width: 64.0625rem) {
  .hero__section__image, .hero__section__content,
  .features__section__image,
  .features__section__content,
  .access__section__image,
  .access__section__content {
    max-width: 100%;
  }
}

.btn {
  background-color: hsl(224, 93%, 58%);
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 0.75rem 3.75rem;
  width: 100%;
  border: 0.0625rem solid hsl(224, 93%, 58%);
  border-radius: 0.1956rem;
  transition: 0.3s ease;
  cursor: pointer;
}
@media (min-width: 48rem) {
  .btn {
    width: fit-content;
    padding: 0.9375rem 3.75rem;
  }
}
.btn:hover {
  background-color: #0945ec;
}

.header {
  padding: 1.5rem 0;
}
@media (min-width: 64.0625rem) {
  .header {
    padding: 4.0625rem 0;
  }
}
.header__section {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.header__logo__link__image {
  width: 5rem;
}
@media (min-width: 80.0625rem) {
  .header__logo__link__image {
    width: 10.375rem;
  }
}
.header__menu__list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
@media (min-width: 64.0625rem) {
  .header__menu__list {
    gap: 3.5625rem;
  }
}
.header__menu__list__item__link:is(:link, :visited) {
  color: hsl(243, 87%, 12%);
}
.header__menu__list__item__link:is(:hover, :active) {
  color: hsl(238, 22%, 44%);
}

.main .hero {
  padding-bottom: 5.625rem;
}
.main .hero__section {
  display: grid;
  grid-template-columns: auto;
  gap: 2.5rem;
}
@media (min-width: 64.0625rem) {
  .main .hero__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.4375rem;
    align-items: center;
  }
}
@media (min-width: 64.0625rem) {
  .main .hero__section__image {
    order: 1;
  }
}
.main .hero__section__content {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
}
@media (min-width: 64.0625rem) {
  .main .hero__section__content {
    text-align: left;
  }
}
.main .hero__section__content__subscribe__form {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .main .hero__section__content__subscribe__form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
  }
}
.main .hero__section__content__subscribe__form__email-field {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: 0.0625rem solid hsl(243, 87%, 12%);
  border-radius: 0.1956rem;
}
.main .hero__section__content__subscribe__form__email-field:focus {
  outline: 0;
  border-color: hsl(224, 93%, 58%);
}
.main .hero__section__content__subscribe__form__email-field::placeholder {
  color: hsl(0, 0%, 75%);
}
.main .hero__section__content__subscribe__success-message {
  color: hsl(224, 93%, 58%);
}
.main .features {
  background-image: url(../assets/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: 600% 100%;
  background-position: top;
}
@media (min-width: 64.0625rem) {
  .main .features {
    padding-top: 11.125rem;
    background-image: url(../assets/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: 300% 100%;
    background-position: top;
  }
}
.main .features__section {
  display: grid;
  grid-template-columns: auto;
  gap: 5.5rem;
}
@media (min-width: 64.0625rem) {
  .main .features__section {
    display: grid;
    grid-template-columns: repeat(2, 55% calc(45% - 5.5rem));
    gap: 5.5rem;
    align-items: center;
  }
}
@media (min-width: 64.0625rem) {
  .main .features__section__image {
    order: 1;
  }
}
.main .features__section__content {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
}
@media (min-width: 64.0625rem) {
  .main .features__section__content {
    text-align: left;
  }
}
.main .features__section__content__description {
  color: hsl(238, 22%, 44%);
}
@media (min-width: 64.0625rem) {
  .main .features__section__content__description {
    max-width: 33.0625rem;
  }
}
.main .features__section__content__cta {
  max-width: 8.125rem;
  margin-inline: auto;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 0.0625rem solid hsl(170, 45%, 43%);
  cursor: pointer;
}
@media (min-width: 64.0625rem) {
  .main .features__section__content__cta {
    max-width: 10.375rem;
    margin-inline: 0;
  }
}
.main .features__section__content__cta__link {
  font-size: 0.75rem;
  color: hsl(170, 45%, 43%);
}
@media (min-width: 64.0625rem) {
  .main .features__section__content__cta__link {
    font-size: 1rem;
  }
}
.main .features__section__content__cta__image {
  width: 0.75rem;
  height: 0.75rem;
}
.main .features__section__content__feedback {
  background-color: hsl(0, 0%, 100%);
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  text-align: left;
  padding: 1.5rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem 0.3125rem hsla(0, 0%, 22%, 0.0459);
}
@media (min-width: 30.0625rem) {
  .main .features__section__content__feedback {
    padding: 2.0625rem;
    max-width: 80%;
    margin-inline: auto;
  }
}
@media (min-width: 64.0625rem) {
  .main .features__section__content__feedback {
    max-width: 22.25rem;
    margin-inline: 0;
  }
}
.main .features__section__content__feedback__quotes {
  font-size: 0.625rem;
  letter-spacing: 0.0238rem;
}
@media (min-width: 64.0625rem) {
  .main .features__section__content__feedback__quotes {
    font-size: 0.8125rem;
    line-height: 1.4375rem;
  }
}
.main .features__section__content__feedback__client {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.main .features__section__content__feedback__client__image {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.main .features__section__content__feedback__client__info__name {
  font-size: 0.5625rem;
  letter-spacing: 0.0281rem;
  font-weight: 700;
  line-height: 1;
}
@media (min-width: 64.0625rem) {
  .main .features__section__content__feedback__client__info__name {
    font-size: 0.6875rem;
    letter-spacing: 0.0344rem;
  }
}
.main .features__section__content__feedback__client__info__role {
  font-size: 0.375rem;
  letter-spacing: 0.0187rem;
  line-height: 0.7375rem;
}
@media (min-width: 64.0625rem) {
  .main .features__section__content__feedback__client__info__role {
    font-size: 0.5rem;
    line-height: 0.9375rem;
  }
}
.main .access {
  text-align: center;
  background-color: hsl(238, 22%, 44%);
}
@media (min-width: 64.0625rem) {
  .main .access {
    text-align: left;
  }
}
.main .access__section__content {
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
}
@media (min-width: 64.0625rem) {
  .main .access__section__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9.375rem;
    align-content: center;
  }
}
@media (min-width: 80.0625rem) {
  .main .access__section__content {
    gap: 14.375rem;
  }
}
.main .access__section__content__overview__title, .main .access__section__content__overview__description {
  color: hsl(0, 0%, 100%);
}
.main .access__section__content__overview__title {
  margin-bottom: 1rem;
}
.main .access__section__content__subscribe__form {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  justify-items: center;
}
@media (min-width: 64.0625rem) {
  .main .access__section__content__subscribe__form {
    justify-items: start;
  }
}
.main .access__section__content__subscribe__form__email-field {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: 0.0625rem solid hsl(243, 87%, 12%);
  border-radius: 0.1956rem;
  border-color: hsl(0, 0%, 100%);
}
.main .access__section__content__subscribe__form__email-field:focus {
  outline: 0;
  border-color: hsl(224, 93%, 58%);
}
.main .access__section__content__subscribe__form__email-field::placeholder {
  color: hsl(0, 0%, 75%);
}

.footer {
  background-color: hsl(243, 87%, 12%);
}
.footer__section {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
}
.footer__section__top__logo {
  width: 6.5625rem;
}
@media (min-width: 64.0625rem) {
  .footer__section__top__logo {
    width: 8.4375rem;
  }
}
.footer__section__bottom {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
}
@media (min-width: 48rem) {
  .footer__section__bottom {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
  }
}
.footer__section__bottom__contact {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  align-content: start;
}
.footer__section__bottom__contact__info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer__section__bottom__contact__info__image {
  width: 1.5rem;
  height: auto;
}
.footer__section__bottom__contact__info__phone, .footer__section__bottom__contact__info__email {
  color: hsl(0, 0%, 100%);
}
.footer__section__bottom__menu__list {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}
.footer__section__bottom__menu__list__item__link:is(:link, :visited) {
  color: hsl(0, 0%, 100%);
}
.footer__section__bottom__menu__list__item__link:is(:hover, :active) {
  color: hsl(224, 93%, 58%);
}
.footer__section__bottom__social-icons-list {
  display: flex;
  gap: 1rem;
}
.footer__section__bottom__social-icons-list__item__link {
  border: 0.0625rem solid hsl(0, 0%, 100%);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__section__bottom__social-icons-list__item__link:is(:link, :visited) {
  color: hsl(0, 0%, 100%);
}
.footer__section__bottom__social-icons-list__item__link:is(:hover, :active) {
  color: hsl(224, 93%, 58%);
  border-color: hsl(224, 93%, 58%);
}

/*# sourceMappingURL=main.css.map */
