@use "./variables" as *;
@mixin font-primary {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
}
@mixin font-secondary {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 700;
}
@mixin section-max-width {
  max-width: 100%;
  margin-inline: auto;
  padding: 0 1.75rem;
  @include desktop {
    max-width: 90rem;
    padding: 0 5rem;
  }
}
@mixin content-max-width {
  @include mobile-landscape {
    max-width: 33.125rem;
    margin-inline: auto;
  }
  @include laptop {
    max-width: 100%;
  }
}
@mixin center-content {
  display: grid;
  place-content: center;
}
@mixin grid($gtc, $gap) {
  display: grid;
  grid-template-columns: $gtc;
  gap: $gap;
}
@mixin flex($gap) {
  display: flex;
  gap: $gap;
}
@mixin is-link-visited {
  &:is(:link, :visited) {
    @content;
  }
}
@mixin is-hover-active {
  &:is(:hover, :active) {
    @content;
  }
}
@mixin placeholder {
  color: $clr-light-gray;
}
@mixin focus {
  outline: 0;
  border-color: $clr-bright-blue;
}
@mixin subscribe-form-email-field {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: 0.0625rem solid $clr-very-dark-blue;
  border-radius: 0.1956rem;
  &:focus {
    @include focus;
  }
  &::placeholder {
    @include placeholder;
  }
}
@mixin mobile-landscape {
  @media (min-width: 30.0625rem) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 48rem) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 64.0625rem) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 80.0625rem) {
    @content;
  }
}
