@use "./variables" as *;
@mixin font-primary {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
}
@mixin font-secondary {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
}
@mixin section-max-width {
  max-width: 100%;
  margin-inline: auto;
  padding: 0 2rem;
  @include desktop {
    max-width: 90rem;
    padding: 0 10.3125rem;
  }
}
@mixin content-max-width {
  @include mobile-landscape {
    max-width: 34.375rem;
    margin-inline: auto;
  }
}
@mixin center-content {
  display: grid;
  place-content: center;
}
@mixin grid($gtc, $gap) {
  display: grid;
  grid-template-columns: $gtc;
  gap: $gap;
}
@mixin flex($gap) {
  display: flex;
  gap: $gap;
}
@mixin buttons {
  @include flex(1.5rem);
  flex-wrap: wrap;
  justify-content: center;
  @include tablet {
    flex-wrap: nowrap;
    gap: 1rem;
  }
}
@mixin mobile-landscape {
  @media (min-width: 30.0625rem) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 48rem) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 64.0625rem) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 80.0625rem) {
    @content;
  }
}
