//FONTS
$font: "Bai Jamjuree", sans-serif;

//COLORS
$clr-strong-cyan: #26baa4;
$clr-light-blue: #6173ff;
$clr-dark-grayish-blue: #4c545c;
$clr-grayish-blue: #9eabb2;
$clr-white: #ffffff;
$clr-btn-shadow-tealish: hsla(160, 64%, 72%, 50.33%);
$clr-btn-shadow-light-blue: hsla(0, 0%, 0%, 9.88%);
$clr-btn-border-cyan: #1b8676;
$clr-btn-border-light-blue: #5262d8;
