//FONTS
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Raleway", sans-serif;

//COLORS
$clr-very-dark-blue: hsl(243, 87%, 12%);
$clr-desaturated-blue: hsl(238, 22%, 44%);
$clr-bright-blue: hsl(224, 93%, 58%);
$clr-moderate-cyan: hsl(170, 45%, 43%);
$clr-light-grayish-blue: hsl(240, 75%, 98%);
$clr-light-gray: hsl(0, 0%, 75%);
$clr-white: hsl(0, 0%, 100%);
$clr-shadow: hsla(0, 0%, 22%, 4.59%);
